@inject Cliente CliService

@{
    for (var x = 0; x <= CliService.Enderecos.Count - 1; x++)
    {
        <div>
            <label style="color:darkred"><em>@CliService.Enderecos[x].TipoEnd</em></label>
        </div>

        <div class="row">
            <div class="col">
                <div>
                    <label class="col-5">Nome da Rua</label>
                    <label class="col-1 mx-1">Nro</label>
                    <label class="col-1 mx-1">Bairro</label>
                    <label class="col-2 mx-1">Cidade</label>
                    <label class="col-1 mx-0">Estado</label>
                    <label class="col-1 mx-2">Cep</label>

                </div>
            </div>
        </div>

        @if (IdEnt)
        {
            <InputText class="col-5 mx-0" @bind-Value=@CliService.Enderecos[x].NomeRua disabled="false"></InputText>
            IdEnt = false;
        }
        <label class="col-5 mx-0">@CliService.Enderecos[x].NomeRua</label>
        <label class="col-1 mx-1">@CliService.Enderecos[x].Numero</label>
        <label class="col-1 mx-1">@CliService.Enderecos[x].Bairro</label>
        <label class="col-2 mx-1">@CliService.Enderecos[x].Cidade</label>
        <label class="col-1 mx-1">@CliService.Enderecos[x].Estado.ToString()</label>
        <label class="col-1 mx-1">@CliService.Enderecos[x].Cep</label>
    }
}
@code {
    private bool IdEnt = true;

    protected override bool ShouldRender()
    {
        return false;
    }

}
