@page "/ListProdutos"
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode (prerender:false))
@using System.Reflection

<PageTitle>Produtos</PageTitle>

<TopBanner Texto="Produtos"></TopBanner>

@if (produtos == null)
{
    <p><em>Aguarde...</em></p>
}
else
{
    <button class="mt-1 btn-sm btn-primary shadow-none" style="font-style:italic" @onclick="NewProduto">
        <i class="bi-cpu-fill"></i> Novo Produto
    </button>
    <MudaPagina @ref="Muda" PageNumb=@PageNumber TotPa=@TotPag BtnInicial=@BtnInicial EventoRet="(()=>ReturnFunc())"></MudaPagina>

    <table class="table col-md-12">
        <thead>
            <tr>
                <th>Nome Produto</th>
                <th style="text-align:right">Estoque</th>
                <th style="text-align:right">Preço   </th>
                <th style="text-align:right">Data Cadastro</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Produto item in produtos)
            {
                <tr>
                    <td>@item.NomeProduto</td>
                    <td style="text-align:right">@item.QuantEstoque</td>
                    <td style="text-align:right">@item.Preco</td>
                    <td style="text-align:right">@DateOnly.FromDateTime(@item.DataCadastro)</td>
                    <td>
                        <button class="btn btn-sm btn-warning border-dark shadow-none" style="color:black" @onclick="(() => AltProduto(item))">
                            <i class="bi-pencil-square"></i> Alterar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger border-dark shadow-none" style="color:black" @onclick="(() => ExcProduto(item))">
                            <i class="bi-trash3"></i>  Excluir
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info border-dark shadow-none" style="color:black" @onclick="(() => ConProduto(item))">
                            <i class="bi-search"></i> Consulta
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<Mensagens @ref="Mensa" BotaoTrue=@MsgBotton Titulo=@Titul Mostra=@Mostr Msg=@Mensag Confirma=@Confirm EventoRetorno="(() => ReturnFuncao())"> </Mensagens>

@code
 {

    Mensagens? Mensa = null;

    MudaPagina? Muda = null;

    public bool Confirm { get; set; } = false;
    public string Mensag { get; set; } = string.Empty;
    public string Titul { get; set; } = string.Empty;
    public string Mostr { get; set; } = "none";
    public string MsgBotton { get; set; } = string.Empty;
    private string BancoVazio { get; set; } = string.Empty;

    private List<Produto>? produtos = new();
    private int IdProduto { get; set; } = 0;
    private string? NomeProduto { get; set; } = string.Empty;


    // Propriedades do Componente Paginação

    private int BtnInicial { get; set; } = 1;
    private int PageSize { get; set; } = 10;
    private int PageNumber { get; set; } = 1;
    private int TotPag = 0;
    private int NroReg = 0;

    private RetGetProdutos? Registro { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await CarregarDados();
        }
        catch
        {
            BancoVazio = "Banco de Dados Vazio";
        }
    }

    private async Task CarregarDados()
    {
        Registro = await _http.GetFromJsonAsync<RetGetProdutos>(@$"/api/v1/produtos/{PageNumber.ToString()}/{PageSize.ToString()}");

        produtos = Registro.ListaProdutos;

        NroReg = Registro.TotalReg;

        if (NroReg % PageSize == 0)
        {
            TotPag = NroReg / PageSize;
        }
        else
        {
            TotPag = NroReg / PageSize + 1;
        }
    }

    public void ExcProduto(Produto pro)
    {
        IdProduto = pro.IdProduto;
        NomeProduto = pro.NomeProduto;
        Mensag = $"Cliente: {NomeProduto}";
        Titul = "Confirma Exclusão?";
        Mostr = "block";
        MsgBotton = "Confirma";
    }

    public void ConProduto(Produto produto)
    {
        ProService.IdProduto = produto.IdProduto;
        ProService.NomeProduto = produto.NomeProduto;
        ProService.Descricao = produto.Descricao;
        ProService.Preco = produto.Preco;
        ProService.QuantEstoque = produto.QuantEstoque;
        ProService.DataCadastro = produto.DataCadastro;
        ProService.IdCategoria = produto.IdCategoria;
        ProService.Und = produto.Und;

        ToPag.NavigateTo("/conproduto");
    }

    private void AltProduto(Produto produto)
    {
        ProService.IdProduto = produto.IdProduto;
        ProService.NomeProduto = produto.NomeProduto;
        ProService.Descricao = produto.Descricao;
        ProService.Preco = produto.Preco;
        ProService.QuantEstoque = produto.QuantEstoque;
        ProService.DataCadastro = produto.DataCadastro;
        ProService.IdCategoria = produto.IdCategoria;
        ProService.Und = produto.Und;

        ToPag.NavigateTo("/altproduto");
    }

    public async Task ReturnFuncao()
    {
        if (Mensa?.Confirma == true)
        {
            await ApagaRegistro();
        }
        Confirm = false;
        Mostr = "none";
    }

    public async Task ReturnFunc()
    {
        PageNumber = Muda.PageNumb;
        BtnInicial = Muda.BtnInicial;
        await CarregarDados();
    }

    public async Task ApagaRegistro()
    {
        await _http.DeleteFromJsonAsync<Produto>($@"/api/v1/produtos/{IdProduto}");
        PageNumber = 1;
        BtnInicial = 1;
        await OnInitializedAsync();
        ToPag.NavigateTo("/listprodutos");
    }

    public void NewProduto()
    {
        ToPag.NavigateTo("/newProduto");
    }
}
