@page "/concliente"
@rendermode @(new InteractiveServerRenderMode (prerender:false))
@inject Cliente CliService

<TopBanner Texto="Consulta Cliente"></TopBanner>
<br />

<div class="card">
    <EditForm Model="@CliService">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div>
                        <label class="col-7">Nome do Cliente</label>
                        <label class="col-4 mx-1">Nome do Contato</label>
                    </div>
                    <div>
                        <InputText class="col-7" style="border-radius:4px" @bind-Value="@CliService.NomeCliente" disabled="true">Nome do Cliente</InputText>
                        <InputText class="col-4 mx-1" style="border-radius:4px" @bind-Value="@CliService.NomeContato" disabled="true">Nome do Cliente</InputText>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div>
                        <label class="col-2">Tipo Cliente</label>

                        @if ((int)CliService.TipoCliente == 0)
                        {
                            <label class="col-2 mx-2" style="text-align: right">CPF</label>
                        }
                        else
                        {
                            <label class="col-3 mx-2" style="text-align: right">CNPJ</label>
                        }
                        <label class="col-2 mx-0" style="text-align: right">Nro Telefone</label>
                        <label class="col-2 mx-1" style="text-align: right">Limite de Crédito</label>
                        <label class="col-2 mx-1" style="text-align: right">Data de Cadastro</label>

                    </div>
                    <div>
                        <InputText class="col-2 form-select-sm" style="border-radius:1px" @bind-Value="@TipoCliente" disabled="true"></InputText>

                        @if ((int)CliService.TipoCliente == 0)
                        {
                            <InputText class="col-2 mx-2" style="border-radius: 4px; text-align: right" @bind-Value="@CliService.CpfCliente" disabled="true"></InputText>
                        }
                        else
                        {
                            <InputText class="col-3 mx-2" style="border-radius: 4px; text-align: right" @bind-Value="@CliService.CnpjCliente" disabled="true"></InputText>
                        }

                        <InputText class="col-2 mx-0" style="border-radius: 4px; text-align: right" @bind-Value="@CliService.NroTelefone" disabled="true"></InputText>

                        <InputNumber class="col-2 mx-1" style="border-radius:4px; text-align:right" @bind-Value="@CliService.LimiteCredito" disabled="true"></InputNumber>

                        <InputText class="col-2 mx-1" style="border-radius:4px; text-align:right; color:darkred" @bind-Value="@DataCadastro" disabled="true"></InputText>

                    </div>
                </div>
            </div>
            <hr />
            <label>--------- Endereços ---------</label>

            <ListaEnderecos></ListaEnderecos>

        </div>
    </EditForm>
</div>

@code
{
    private string DataCadastro = null!;
    private string TipoCliente = null!;

    protected override void OnInitialized()
    {
        DataCadastro = DateOnly.FromDateTime(CliService.DataCadastro).ToString();
        TipoCliente = CliService.TipoCliente.ToString();
    }

}

