@page "/newcliente"
@inject NavigationManager ToPag
@rendermode @(new InteractiveServerRenderMode (prerender:false))
@inject HttpClient _http

<TopBanner Texto="Novo Cliente"></TopBanner>
<br />

<div class="card">
    <EditForm Model="@Cliente" OnInvalidSubmit="(()=>ErroPreenchimento())">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div>
                        <label class="col-7">Nome do Cliente</label>
                        <label class="col-4 mx-1">Nome do Contato</label>
                    </div>
                    <div>
                        <InputText class="col-7" style="border-radius:4px" @bind-Value="@Cliente.NomeCliente">Nome do Cliente</InputText>
                        <InputText class="col-4 mx-1" style="border-radius:4px" @bind-Value="@Cliente.NomeContato">Nome do Cliente</InputText>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <label class="col-2">Tipo Cliente</label>
                            @if ((int)Cliente.TipoCliente == 0)
                            {
                            <label class="col-2 mx-2" style="text-align: right">CPF</label>
                            }
                            else
                            {
                            <label class="col-3 mx-2" style="text-align: right">CNPJ</label>
                            }
                            <label class="col-2 mx-0" style="text-align: right">Nro Telefone</label>
                            <label class="col-2 mx-1" style="text-align: right">Limite de Crédito</label>
                            <label class="col-2 mx-1" style="text-align: right">Data de Cadastro</label>

                            <InputSelect class="col-2 form-select-sm" style="border-radius:1px" @bind-Value="@Cliente.TipoCliente">
                                @foreach (var opc in Enum.GetValues(typeof(ETipoCliente)))
                                {
                                <option>@opc</option>
                                }
                            </InputSelect>
                            @if ((int)Cliente.TipoCliente == 0)
                            {
                            <InputText class="col-2 mx-2" style="border-radius: 4px; text-align: right" @bind-Value="@Cliente.CpfCliente"></InputText>
                                Cliente.CnpjCliente = "0";
                            }
                            else
                            {
                            <InputText class="col-3 mx-2" style="border-radius: 4px; text-align: right" @bind-Value="@Cliente.CnpjCliente"></InputText>
                                Cliente.CpfCliente = "0";
                            }
                            <InputText class="col-2 mx-0" style="border-radius: 4px; text-align: right" @bind-Value="@Cliente.NroTelefone"></InputText>

                            <InputNumber class="col-2 mx-1" style="border-radius:4px; text-align:right" @bind-Value="@Cliente.LimiteCredito"></InputNumber>

                            <InputText class="col-2 mx-1" style="border-radius:4px; text-align:right; color:darkred " @bind-Value=@DataCadastro disabled="true"></InputText>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>------------ Endereços ------------</label>
        <div class="card-body">
            <div class="row">
                @if (EdEnt==false)
                {
                <div class="row">
                    <div class="col-2">
                        <button class="btn-sm btn-primary" @onclick="MudaEnt">Entrega</button>
                        <button class="btn-sm btn-danger invisible">Exclui</button>
                    </div>
                </div>
                }
                else
                {
                <div class="row">
                    <div class="col-2">
                        <button class="btn-sm btn-primary" disabled @onclick="MudaEnt">Entrega</button>
                        <button class="btn-sm btn-danger visibled" @onclick="LimpaEnt">Exclui</button>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label class="col-5">Nome da Rua</label>
                        <label class="col-1 mx-1">Nro</label>
                        <label class="col-1 mx-1">Bairro</label>
                        <label class="col-2 mx-1">Cidade</label>
                        <label class="col-1 mx-1">Estado</label>
                        <label class="col-1 mx-1">Cep</label>
                    </div>
                    <InputText class="col-5 mx-0" style="border-radius: 4px" @bind-Value="@Cliente.Enderecos[0].NomeRua"></InputText>
                    <InputText class="col-1 mx-1" style="border-radius:4px" @bind-Value="@Cliente.Enderecos[0].Numero"></InputText>
                    <InputText class="col-1 mx-1" style="border-radius:4px" @bind-Value="@Cliente.Enderecos[0].Bairro"></InputText>
                    <InputText class="col-2 mx-1" style="border-radius:4px" @bind-Value="@Cliente.Enderecos[0].Cidade"></InputText>
                    <InputSelect class="col-1 form-select-sm" style="border-radius:4px" @bind-Value="@Cliente.Enderecos[0].Estado">
                        @foreach (var opc_est in Enum.GetValues(typeof(EEstado)))
                            {
                        <option>@opc_est</option>
                            }
                    </InputSelect>
                    <InputText class="col-1 mx-1" style="border-radius:4px" @bind-Value="@Cliente.Enderecos[0].Cep"></InputText>
                </div>
                }
            </div>
        </div>
        <div class="card-footer">
            <div>
                <button type="submit" class="btn-sm btn-success" @onclick="ConfirmaSalvar"> Salvar </button>
                <button class="btn-sm btn-primary" @onclick="Voltar"> Voltar </button>
            </div>
        </div>
    </EditForm>
</div>

@if (Sim)
{
<div class="container align-content-center">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>Atenção!</strong> Existem Campos que não foram preenchidos.

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Sair"></button>
    </div>
</div>
}

<Mensagens @ref="Mensa" BotaoTrue=@MsgButton Titulo=@Titul Mostra=@Mostr Msg=@Mensag Confirma=@Confirm EventoRetorno="(() => ReturnFuncao())"> </Mensagens>

@code
{
    Mensagens? Mensa = null;

    public bool Confirm { get; set; } = false;
    public string Mensag { get; set; } = string.Empty;
    public string Titul { get; set; } = string.Empty;
    public string Mostr { get; set; } = "none";
    public string MsgButton { get; set; } = string.Empty;
    public bool Sim { get; set; } = false;

    public Cliente Cliente = new();
    public bool EdEnt = false;
    public bool EdFat = false;
    public bool EdCob = false;

    public string DataCadastro = $"{DateTime.Now:dd/MM/yyy}";

    public void ErroPreenchimento()
    {
        Sim = true;
    }

    public void Sair()
    {
        Sim = false;
    }

    public async Task ReturnFuncao()
    {
        if (Mensa?.Confirma == true)
        {
            await Salvar();
        }
        Confirm = false;
        Mostr = "none";
    }

    protected override void OnInitialized()
    {
        for (int i = 0; i < 3; i++)
        {
            Cliente.Enderecos.Add(new Endereco());
        }
        Cliente.Enderecos[0].TipoEnd = ETipoEndereco.Entrega;
        Cliente.Enderecos[1].TipoEnd = ETipoEndereco.Faturamento;
        Cliente.Enderecos[2].TipoEnd = ETipoEndereco.Cobranca;
    }

    public void LimpaEnt()
    {
        var x = Cliente.Enderecos.FindIndex(x => x.TipoEnd == ETipoEndereco.Entrega);
        Cliente.Enderecos[x].NomeRua = "";
        EdEnt = false;
    }

    public void MudaEnt()
    {
        EdEnt = !EdEnt;
    }

    public void LimpaFat()
    {
        var y = Cliente.Enderecos.FindIndex(y => y.TipoEnd == ETipoEndereco.Faturamento);
        Cliente.Enderecos[y].NomeRua = "";
        Cliente.Enderecos[y].Numero = "";
        Cliente.Enderecos[y].Estado = 0;
        Cliente.Enderecos[y].Cep = "";
        Cliente.Enderecos[y].Cidade = "";
        Cliente.Enderecos[y].Bairro = "";

    }

    public void LimpaCob()
    {
        var z = Cliente.Enderecos.FindIndex(z => z.TipoEnd == ETipoEndereco.Cobranca);
        Cliente.Enderecos[z].NomeRua = "";
        Cliente.Enderecos[z].Numero = "";
        Cliente.Enderecos[z].Estado = 0;
        Cliente.Enderecos[z].Cep = "";
        Cliente.Enderecos[z].Cidade = "";
        Cliente.Enderecos[z].Bairro = "";
    }

    public void ConfirmaSalvar()
    {
        if (EdEnt == false)
        {
            Cliente.Enderecos.RemoveAt(0);
        }
        if (EdFat == false)
        {
            Cliente.Enderecos.RemoveAt(1);
        }
        if (EdCob == false)
        {
            Cliente.Enderecos.RemoveAt(2);
        }

        MsgButton = "Confirma";

        Mensag = $"Cliente: {Cliente.NomeCliente}";
        Titul = "Confirma Inclusão";
        Mostr = "block";


        Cliente.DataCadastro = Convert.ToDateTime(DataCadastro);

    }

    public void Voltar()
    {
        ToPag.NavigateTo("/clientes");
    }

    public async Task Salvar()
    {
        HttpResponseMessage cliente = await _http.PostAsJsonAsync<Cliente>("/api/v1/clientes", Cliente);

        ToPag.NavigateTo("/clientes");
    }
}
