@page "/clientes"
@attribute [StreamRendering]
@inject HttpClient _http
@rendermode @(new InteractiveServerRenderMode (prerender:false))
@inject NavigationManager Topag

<PageTitle>Clientes</PageTitle>

<h3>Clientes </h3>

<div class="container">

    @if (clientes == null)
    {
        <p><em>Aguarde...</em></p>
    }
    else
    {
        <button class="btn-sm btn-primary" style="font-style:italic" @onclick="NewCliente">+ Novo Cliente</button>

        <table class="table col-md-12">
            <thead>
                <tr>
                    <th>Nome Cliente</th>
                    <th>Nro Telefone</th>
                    <th>Contato     </th>
                    <th>Pedido</th>
                    <th>Alterar</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in clientes)
                {
                    <tr>
                        <td>@item.NomeCliente</td>
                        <td>@item.NroTelefone</td>
                        <td>@item.NomeContato</td>
                        @*<td><button class="btn-sm btn-danger" data-toggle="modal" @onclick="@(() => Apagar(item))">Deletar </button></td>*@
                        <td><button class="btn-sm btn-primary" @onclick="(() => Seleciona(item))">Pedido</button></td>
                        <td><button class="btn-sm btn-warning" @onclick="(() => Seleciona(item))">Alterar</button></td>
                        <td><button class="btn-sm btn-danger" @onclick="(() => Confirma(item))">Apaga</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@*<button class="btn-sm btn-secondary" @onclick="@(() => Envia())">Banco de Dados</button>*@

<Mensagens @ref="Mensa" BotaoTrue=@MsgBotton Titulo=@Titul Mostra=@Mostr Msg=@Mensag Confirma=@Confirm EventoRetorno="@(() => ReturnFuncao())"> </Mensagens>

@code
 {

    Mensagens? Mensa = null;

    public bool Confirm { get; set; } = false;
    public string Mensag { get; set; } = string.Empty;
    public string Titul { get; set; } = string.Empty;
    public string Mostr { get; set; } = "none";
    public string MsgBotton { get; set; } = string.Empty;


    public List<Cliente>? clientes = null!;
    public Cliente Objcliente = null!;
    public int IdCliente { get; set; } = 0;
    public string? NomeCliente { get; set; } = string.Empty;
    public Cliente Cli = new();

    protected override async Task OnInitializedAsync()
    {
        clientes = await _http.GetFromJsonAsync<List<Cliente>>(@"/api/v1/clientes");
    }

    public void Confirma(Cliente cli)
    {
        IdCliente = cli.ClienteId;
        NomeCliente = cli.NomeCliente;
        Mensag = $"Cliente: {NomeCliente}?";
        Titul = "Confirma Exclusão?";
        Mostr = "block";
        MsgBotton = "Exclui";
    }

    public async Task Envia()
    {
        Cliente cli = new Cliente
        {
            NomeCliente = "Angeliazer Rigon  da Silva",
            CpfCliente = "0",
            CnpjCliente = "0",
            TipoCliente = ETipoCliente.Fisica,
            NroTelefone = "21967453273",
            NomeContato = "Yago",
            LimiteCredito = 25000,
            Enderecos = new List<Endereco>
{
                new Endereco {
                    NomeRua="Rua Goiás",
                    Numero = "216",
                    Bairro = "Mutuá",
                    Cidade = "São Gonçalo",
                    Estado = EEstado.DF,
                    Cep = "24460170",
                    TipoEnd = ETipoEndereco.Entrega
                },
                new Endereco
                {
                    NomeRua = "Rua Santos da Cruz",
                    Numero = "216",
                    Bairro = "Mutuá",
                    Cidade = "São Gonçalo",
                    Estado = EEstado.DF,
                    Cep = "24460170",
                    TipoEnd = ETipoEndereco.Faturamento
                }
            }
        };

        var result = await _http.PostAsJsonAsync<Cliente>("/api/v1/clientes", cli);

        Console.WriteLine(result.StatusCode);
    }

    public async Task ReturnFuncao()
    {
        if (Mensa?.Confirma==true)
        {
            await ApagaRegistro();
        }
        Confirm = false;
        Mostr = "none";
    }

    public async Task ApagaRegistro()
    {
        await _http.DeleteFromJsonAsync<Cliente>($@"/api/v1/clientes/{IdCliente}");
        await OnInitializedAsync();
    }

    public void Seleciona(Cliente cliente)
    {

    }
    public void NewCliente()
    {
        Topag.NavigateTo("/newcliente");
    }
}
